venv/
data
notebooks/.ipynb_checkpoints
notebooks/2_trading_pattern_analysis.ipynb
notebooks/3_technical_indicator_analysis.ipynb
notebooks/4_profitability_analysis.ipynb
__pycache__
.env
.vscode
memo
